<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
            <span>Feedback</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- Feedback -->
<div class="w3ls-feedback w3layouts-content">
    <div class="container">
        <h3 class="w3-head">Feedback</h3>
        <div class="feed-back">
            <h3>Tell us what you think of us</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>

            <div class="feed-back-form">
                <form class="form-horizontal" method="post" [formGroup]="addFeedbackForm" (ngSubmit)="create()">
                    <span>Full Name</span>
                    <input type="text" placeholder="Fullname" name="firstname" required="required" formControlName="name" />
                    <div *ngIf="addFeedbackForm.get('name').touched">
                        <div *ngIf="addFeedbackForm.hasError('required', ['name'])">
                            <small class="text-danger"> This field is required.</small>
                        </div>
                    </div>
                    <span>Is there anything you would like to tell us?</span>
                    <textarea formControlName="description" ></textarea>
                    <div *ngIf="addFeedbackForm.get('description').touched">
                        <div *ngIf="addFeedbackForm.hasError('required', ['description'])">
                            <small class="text-danger"> This field is required.</small>
                        </div>
                    </div>
                    <input type="submit" value="Send Feedback">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- // Feedback -->