<client-header></client-header>
<div class=" header-right">
    <div class="banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="banner1">
                            <div class="caption">
                                <h3><span>Get a</span> coupon voucher on Mobile Recharge</h3>
                                <p><a href="#mobilew3layouts" class="scroll">Recharge now</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner2">
                            <div class="caption">
                                <h3><span>50% off</span> on train Tickets</h3>
                                <p><a href="train.html">Book now</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner3">
                            <div class="caption">
                                <h3><span>Flat Rs.200 Cash back</span> on Movie Tickets</h3>
                                <p><a href="movies.html">Book now</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner4">
                            <div class="caption">
                                <h3><span>Upto Rs.125 Discount </span> & Flat 100% Money Back</h3>
                                <p><a href="bus.html">Book now</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--Vertical Tab-->
<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
<!-- //Categories -->


<!--phone-->
<div class="phone" id="mobileappagileits">
    <div class="container">
        <div class="col-md-6">
            <img src="assets/images/ph1.png" class="img-responsive" alt="" />
        </div>
        <div class="col-md-6 phone-text">
            <h4>Online Payment mobile app on your smartphone!</h4>
            <p class="subtitle">Simple and Fast Payments</p>
            <div class="text-1">
                <h5>Recharge</h5>
                <p>Recharge your Mobile, DTH, Datacard etc...</p>
            </div>
            <div class="text-1">
                <h5>Paybills</h5>
                <p>Pay your Bills(Electricity, Water, Gas, Broadband, Landline etc...)</p>
            </div>
            <div class="text-1">
                <h5>Book Online</h5>
                <p>Book Online Tickets(Movies, Bus, Train etc...)</p>
            </div>
            <div class="agileinfo-dwld-app">
                <h6>Download The App :
                    <a href="#"><i class="fa fa-apple"></i></a>
                    <a href="#"><i class="fa fa-windows"></i></a>
                    <a href="#"><i class="fa fa-android"></i></a>
                </h6>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="wthree-mobile-app">
            <form action="#" method="get">
                <input class="text" type="tel" name="tel" placeholder="Enter Your Mobile Number" required="">
                <input type="submit" value="Send Download Link">
            </form>
        </div>
    </div>
</div>
<!--//phone-->


<!-- Support content -->
<div class="w3l-support">
    <div class="container">
        <div class="col-md-5 w3_agile_support_left">
            <img src="assets/images/cus.jpg" alt=" " class="img-responsive" />
        </div>
        <div class="col-md-7 w3_agile_support_right">
            <h5>Online Recharge</h5>
            <h3>24/7 Customer Service Support</h3>
            <p>Pellentesque accumsan cursus dui, sodales blandit urna sodales vitae.
                Maecenas placerat eget mi vitae euismod. Duis aliquam efficitur mi,
                et eleifend velit.</p>
            <div class="agile_more">
                <a href="support.html" class="type-4">
                    <span> Support </span>
                    <span> Support </span>
                    <span> Support </span>
                    <span> Support </span>
                    <span> Support </span>
                    <span> Support </span>
                </a>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //Support content -->


<!--offers-->
<div class="w3-offers">
    <div class="container">
        <div class="w3-agile-offers">
            <h3>the best offers</h3>
            <p>Contrary to popular belief
                , Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old.</p>
        </div>
    </div>
</div>
<!--//offers-->

<!--partners-->
<div class="w3layouts-partners">
    <h3>We are accepted at</h3>
    <div class="container">
        <ul>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg1.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg2.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg3.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg4.png" alt=""></a></li>
        </ul>
        <ul>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg5.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg6.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg7.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg8.png" alt=""></a></li>
            <li><a href="#"><img class="img-responsive" src="assets/images/lg9.png" alt=""></a></li>
        </ul>
    </div>
</div>
<client-footer></client-footer>