<client-header></client-header>
<!-- innerbanner -->
<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
            <span>Sitemap</span></span>
    </div>
</div>
<!-- //breadcrumbs -->

<!-- Sitemap-page -->
<div class="icons w3layouts-content">
    <div class="container">
        <h3 class="w3-head">Sitemap</h3>
        <!-- sitemap -->
        <div class="sitemap">
            <div class="col-md-6 map">
                <p class="loc">Our Location</p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86654334463!2d-74.25818682528057!3d40.70531100753592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1493028309728"
                    style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-2 sitemap-grid">
                <h4>Pages</h4>
                <ul>
                    <li><a href="about.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>About</a></li>
                    <li><a href="support.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Support</a></li>
                    <li><a href="terms.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Terms &
                            Conditions</a></li>
                    <li><a href="faq.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Faq</a></li>
                    <li><a href="feedback.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Feedback</a>
                    </li>
                    <li><a href="contact.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Contact</a></li>
                    <li><a href="shortcodes.html"><i class="fa fa-long-arrow-right"
                                aria-hidden="true"></i>Shortcodes</a></li>
                    <li><a href="icons.html"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Icons Page</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /sitemap -->
    </div>
</div>
<!--//Sitemap-page-->
<client-footer></client-footer>