table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
  font-size: 14px;
}

.mat-header-row {
  font: bold;
}

.mat-form-field {
  width: 100%;
}

.mat-column-address {
  font-size: 13px;
}

.example-container {
  height: 480px;
  overflow: auto;
}

tr.mat-header.row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-dialog-content {
  padding: 30px 30px 2px 30px;
}

.example-container {
  height: 100%;
}

.search-form-field {
  width: 70%;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
