<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>thien an</h2>
      <h4>example@email.com</h4>
    </div>
    <img
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt=""
    />
  </div>

  <mat-divider> </mat-divider>
  <a
    mat-list-item
    [routerLink]="['/admin/posts']"
    routerLinkActive="list-item-active"
    ><mat-icon>account_circle</mat-icon>Accounts</a
  >
  <a
    mat-list-item
    [routerLink]="['/admin/postpaid']"
    routerLinkActive="list-item-active"
    ><mat-icon>input</mat-icon>Postpaids</a
  >
  <a
    mat-list-item
    [routerLink]="['/admin/recharges']"
    routerLinkActive="list-item-active"
    ><mat-icon>launch</mat-icon>Recharges</a
  >
  <a
    mat-list-item
    [routerLink]="['/admin/feedback']"
    routerLinkActive="list-item-active"
    ><mat-icon>feedback</mat-icon>Feedback</a
  >
  <a
    mat-list-item
    [routerLink]="['/admin/postpaid-history']"
    routerLinkActive="list-item-active"
    ><mat-icon>compare_arrows</mat-icon>Postpaid History</a
  >
  <a
    mat-list-item
    [routerLink]="['/admin/recharge-history']"
    routerLinkActive="list-item-active"
    ><mat-icon>done_all</mat-icon>Recharge History</a
  >
  <!-- <mat-tree>
    <mat-tree-node> parent node </mat-tree-node>
    <mat-tree-node> -- child node1 </mat-tree-node>
    <mat-tree-node> -- child node2 </mat-tree-node>
  </mat-tree> -->
</mat-nav-list>
