form.normal-form {
  margin: 10px;
}

.controles-container {
  width: 100%;
  padding: 5%;
}

.controles-container > * {
  width: 100%;
}

.add-bottom-padding {
  padding-bottom: 10px;
}
/* radio group */
mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.button-row button {
  float: right;
  height: 50px;
  font-size: 20px;
  margin-left: 10px;
}

.button-row button:nth-child(2) {
  margin-right: 0;
}

.button-row {
  padding: 5%;
}

.mat-form-field {
  padding: 10px;
}
