<mat-toolbar>
  <span>{{
    createForm.controls["id"].value ? "Modify Post Paid" : "New Post Paid"
  }}</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabindex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="createForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="600px">
    <div class="controles-container">
      <input type="hidden" formControlName="id" />
      <mat-form-field hintLabel="Max 250 characters" appearance="fill">
        <input
          formControlName="name"
          matInput
          placeholder="Name*"
          maxlength="250"
          #name
        />
        <mat-hint align="end">{{ name.value?.length || 0 }}/250</mat-hint>
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" hintLabel="Price">
        <input
          formControlName="price"
          type="number"
          matInput
          placeholder="Price"
        />
        <mat-error *ngIf="createForm.controls['price'].errors?.['required']"
          >This field is mandatory.</mat-error
        >
        <mat-error *ngIf="createForm.controls['price'].errors?.['nubmer']"
          >Invalid value number!</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" hintLabel="Status">
        <input
          formControlName="status"
          type="number"
          matInput
          placeholder="Status"
        />
        <mat-error *ngIf="createForm.controls['status'].errors?.['required']"
          >This field is mandatory.</mat-error
        >
        <mat-error *ngIf="createForm.controls['status'].errors?.['number']"
          >Invalid number value!</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <textarea
          matInput
          formControlName="description"
          cols="30"
          rows="8"
          placeholder="Description"
        ></textarea>
      </mat-form-field>
      <div class="button-row">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="createForm.invalid"
        >
          Submit
        </button>
        <button mat-raised-button color="warn" (click)="onClear()">
          Clear
        </button>
      </div>
    </div>
  </mat-grid-list>
</form>
