<mat-toolbar>
  <span>{{
    createForm.controls["id"].value ? "Modify Post Paid" : "New Post Paid"
  }}</span>
  <span class="fill-remaining-space"></span>
  <button
    class="btn-dialog-close"
    mat-stroked-button
    (click)="onClose()"
    tabindex="-1"
  >
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="createForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="600px">
    <div class="controles-container">
      <input type="hidden" formControlName="id" />
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <input
          formControlName="name"
          matInput
          placeholder="Name*"
          maxlength="10"
          #name
        />
        <mat-hint align="end">{{ name.value?.length || 0 }}/10</mat-hint>
        <mat-error>This field is mandatory.</mat-error>
      </mat-form-field>

      <!-- <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
          </ngx-editor-menu>
          <ngx-editor
            [editor]="editor"
            [ngModel]="html"
            [disabled]="false"
            [placeholder]="'Type here...'"
            height="300px"
            minHeight="100px"
          ></ngx-editor>
        </div> -->
      <!-- <mat-form-field appearance="fill">
          <textarea
            matInput
            formControlName="description"
            cols="30"
            rows="8"
            placeholder="Text"
          ></textarea>
        </mat-form-field> -->
      <quill-editor
        formControlName="description"
        [styles]="{ height: '200px' }"
        placeholder="Description..."
      ></quill-editor>

      <mat-form-field appearance="fill" hintLabel="Number">
        <input formControlName="status" matInput placeholder="Status" />
      </mat-form-field>
      <mat-form-field appearance="fill" hintLabel="Number">
        <input formControlName="price" matInput placeholder="Price" />
      </mat-form-field>
      <div class="button-row">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="createForm.invalid"
        >
          Submit
        </button>
        <button mat-raised-button color="warn" (click)="onClear()">
          Clear
        </button>
      </div>
      <!--
      <div class="ql-container ql-snow" style="border-width: 0">
        <div class="ql-editor" [innerHTML]="byPassHTMLString"></div>
      </div> -->
    </div>
  </mat-grid-list>
</form>
