<client-header></client-header>
<!-- innerbanner -->
<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
	<div class="container">
		<span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
			<span>Forgot Password</span></span>
	</div>
</div>
<!-- //breadcrumbs -->
<!-- Feedback -->
<div class="w3ls-feedback w3layouts-content">
	<div class="container">
		<h3 class="w3-head">Forgot Password</h3>
		<div class="feed-back">
			<p>Please make sure the email you provided is correct, we will send a confirmation code via your email</p>

			<div class="feed-back-form">
				<form action="#" method="get">
					<span>Email</span>
					<input type="text" placeholder="Email" name="email" required="required" [(ngModel)]="email"/>
					<input type="submit" value="Send" (click)="forgot()">
				</form>
			</div>
		</div>
	</div>
</div>
<client-footer></client-footer>