/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
snack-bar-container.warn {
  background-color: orange;
  color: #fff;
}

snack-bar-container.success {
  background-color: green;
  color: #fff;
}

/* for dialong pop-up */
.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
