<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
            <span>Prepaid</span></span>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="resp-tab-content hor_1 resp-tab-content-active" aria-labelledby="hor_1_tab_item-0" style="display:block">
    <div class="tabs-box">
        <img src="assets/images/mobile.png" class="w3ls-mobile" alt="" data-pin-nopin="true">
        <ul class="tabs-menu">
            <li><a href="#tab1"><label class="radio"><input type="radio" name="radio"
                            checked=""><i></i>Prepaid</label></a></li>
        </ul>
        <div class="clearfix"> </div>
        <div class="tab-grids">
            <div id="tab1" class="tab-grid">
                <div class="login-form">
                    <form method="post" id="signup" [formGroup]="addRechargeHistoryForm" (ngSubmit)="createRechargeHistory()">
                        <ol>
                            <li>
                                <h4>Enter your mobile number</h4>
                                <input type="tel" pattern="\d{10}" placeholder="Enter Mobile Number"
                                    required="required" formControlName="phone">
                                <p class="validation01">
                                    <span class="invalid">Please enter a valid mobile
                                        number</span>
                                    <span class="valid">That's what we wanted!</span>
                                </p>
                            </li>
                            <li>
                                <div class="agileits-select">
                                    <h4>Choose Normal Recharge </h4>
                                    <ul class="form-group-radio grid4" tabindex="2">
                                        <li class="package" *ngFor="let normalrecharge of normalRecharges">                                         
                                            <div class="radio radio-btn">
                                                <div>
                                                    <label class="touch">                                                        
                                                        <input type="radio" ng-model="TopupPrice"
                                                            value="10000" class="ng-pristine ng-untouched ng-valid" formControlName="rechargeId" value={{normalrecharge.id}}>{{normalrecharge.name}}
                                                        <span class="checkbox-custom"></span>
                                                    </label>                                                    
                                                </div>
                                                <br>
                                                <div class="product-info-row">
                                                    <div>Receive</div>
                                                    <div>{{normalrecharge.minutes}} minutes</div>
                                                    <div>{{normalrecharge.data}} GB</div>                                                    
                                                </div>  
                                                <div class="product-info-row">
                                                    <div>Price: {{normalrecharge.price}}</div>
                                                </div>                                   
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="agileits-select">
                                    <h4>Choose Special Recharge </h4>
                                    <ul class="form-group-radio grid4" tabindex="2">
                                        <li class="package" *ngFor="let specialrecharge of specialRecharges">                                            
                                            <div class="radio radio-btn">
                                                <div>
                                                    <label class="touch">
                                                        <input type="radio" ng-model="TopupPrice"
                                                            value="10000" class="ng-pristine ng-untouched ng-valid" formControlName="rechargeId" value={{specialrecharge.id}}>{{specialrecharge.name}}
                                                        <span class="checkbox-custom"></span>
                                                    </label>
                                                </div>
                                                <br>
                                                <div class="product-info-row">
                                                    <div>Receive</div>
                                                    <div>{{specialrecharge.minutes}} minutes</div>
                                                    <div>{{specialrecharge.data}} GB</div>
                                                </div>
                                                <div class="product-info-row">
                                                    <div>Price: {{specialrecharge.price}}</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <br>
                             <div>
                                 <a>
                                    <input type="submit" class="submit" value="Recharge Now">
                                 </a>                               
                             </div>
                        </ol>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>