<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
            <span>Prepaid</span></span>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="resp-tab-content hor_1 resp-tab-content-active" aria-labelledby="hor_1_tab_item-0" style="display:block">
    <div class="tabs-box">
        <img src="assets/images/mobile.png" class="w3ls-mobile" alt="" data-pin-nopin="true">
        <ul class="tabs-menu">
            <li><a href="#tab1"><label class="radio"><input type="radio" name="radio"
                            checked=""><i></i>Prepaid</label></a></li>
        </ul>
        <div class="clearfix"> </div>
        <div class="tab-grids">
            <div id="tab1" class="tab-grid">
                <div class="login-form">
                    <form method="post" id="signup" [formGroup]="addRechargeHistoryForm"
                        (ngSubmit)="createRechargeHistory()">
                        <ol>
                            <li>
                                <div class="" style="margin-bottom: 10px;">
                                    <img src="https://www.vban.vn/Resources/images/ic_dark/ic-01.svg" alt=""
                                        style="max-width: 50px;">
                                    <h4 class="text-service" style="display: inline-block;">Enter your mobile number
                                    </h4>
                                    <span class="lightred" style="color: red; font-size: 12px;">(*)</span>
                                </div>
                                <input type="tel" pattern="\d{10}" placeholder="Enter Mobile Number" required="required"
                                    formControlName="phone" class="form-control" style="max-width: 40%;">
                                <p class="validation01">
                                    <span class="invalid">Please enter a valid mobile
                                        number</span>
                                    <span class="valid">That's what we wanted!</span>
                                </p>
                            </li>
                            <li>
                                <div class="agileits-select">
                                    <div>
                                        <img src="https://www.vban.vn/Resources/images/ic_dark/ic-43.png" alt=""
                                            style="max-width: 45px;">
                                        <h4 class="text-service" style="display: inline-block; margin-left: 4px;">Choose
                                            Normal Recharge </h4>
                                    </div>
                                    <ul class="form-group-radio grid4" tabindex="2">
                                        <li style="margin-right: 10px;" class="package"
                                            *ngFor="let normalrecharge of normalRecharges">
                                            <div class="radio radio-btn">
                                                <div>
                                                    <label class="touch">
                                                        <input type="radio" ng-model="TopupPrice" value="10000"
                                                            class="ng-pristine ng-untouched ng-valid"
                                                            formControlName="rechargeId"
                                                            value={{normalrecharge.id}}>
                                                            <label for="" class="label-recharge" style="	margin-top: 4px;
                                                            font-weight: bold;
                                                            padding-left: 0px;">{{normalrecharge.name}}</label>
                                                        <span class="checkbox-custom"></span>
                                                    </label>
                                                </div>
                                                <div class="product-info-row">
                                                    <div>{{normalrecharge.minutes}} minutes</div>
                                                    <div>{{normalrecharge.data}} GB</div>
                                                    <div>Price: {{normalrecharge.price}}</div>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="agileits-select">
                                    <div>
                                        <img src="https://www.vban.vn/Resources/images/ic_dark/ic-43.png" alt=""
                                            style="max-width: 45px;">
                                        <h4 class="text-service" style="display: inline-block; margin-left: 4px;">Choose
                                            Special Recharge </h4>
                                    </div>
                                    <ul class="form-group-radio grid4" tabindex="2">
                                        <li style="margin-right: 10px;" class="package"
                                            *ngFor="let specialrecharge of specialRecharges">
                                            <div class="radio radio-btn">
                                                <div>
                                                    <label class="touch">
                                                        <input type="radio" ng-model="TopupPrice" value="10000"
                                                            class="ng-pristine ng-untouched ng-valid"
                                                            formControlName="rechargeId"
                                                            value={{specialrecharge.id}}>
                                                            <label for="" class="label-recharge" style="	margin-top: 4px;
                                                            font-weight: bold;
                                                            padding-left: 0px;">{{specialrecharge.name}}</label>
                                                        <span class="checkbox-custom"></span>
                                                    </label>
                                                </div>
                                                <div class="product-info-row">
                                                    <div>{{specialrecharge.minutes}} minutes</div>
                                                    <div>{{specialrecharge.data}} GB</div>
                                                    <div>Price: {{specialrecharge.price}}</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <br>
                            <div>
                                <a>
                                    <input type="submit" class="submit" value="Recharge Now">
                                </a>
                            </div>
                        </ol>
                    </form>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>