<client-header></client-header>
<div class="agileits-inner-banner">

</div>
<!-- //innerbanner -->

<!-- breadcrumbs -->
<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="index.html"><i class="fa fa-home home_1"></i></a> /
            <span>About</span></span>
    </div>
</div>
<!-- //breadcrumbs -->

<!-- About-page -->
<div class="terms w3ls-about w3layouts-content">
    <div class="container">
        <h3 class="w3-head">About Us</h3>
        <h6>What is Online Recharge?</h6>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
            Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
            undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et
            Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. </p>
        <p> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in
            classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
            1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
            This book is a treatise on the theory of ethics, very popular during the Renaissance</p>
        <h6>Why Use Online Recharge?</h6>
        <ol start="1">
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.it has a more-or-less
                normal distribution of letters, as opposed Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s</li>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.it has a more-or-less
                normal distribution of letters, as opposed Lorem Ipsum has been the industry's standard dummy text
                ever since the 1500s</li>
        </ol>
        <h6>We Promise:</h6>
        <ol start="1">
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </li>
            <li>Lorem Ipsum is simply dummy text of the printing.</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </li>
            <li>Lorem Ipsum is simply dummy text of the printing.</li>
            <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </li>
            <li>Lorem Ipsum is simply dummy text of the printing.</li>
        </ol>


    </div>
</div>
<!--//About-page-->
<client-footer></client-footer>